# Ignore environment variables
.env

# Ignore Python virtual environments
venv/
env/
flood_env/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore model and data files
*.joblib
*.pkl
data/

# Ignore log files
*.log
