<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flood Preparedness Resources</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/resources">Flood Resources</a></li>
        </ul>
    </nav>

    <h1>Flood Preparedness Resources</h1>
    <p>Here are some resources to help you prepare in case of a flood:</p>
    <ul>
        <li><a href="https://www.ready.gov/floods" target="_blank">Ready.gov Flood Preparedness</a></li>
        <li><a href="https://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/flood.html" target="_blank">Red Cross Flood Preparedness</a></li>
        <li><a href="https://www.cdc.gov/nceh/features/flood-safety/index.html" target="_blank">CDC Flood Safety Tips</a></li>
        <li><a href="https://www.noaa.gov/floods" target="_blank">NOAA Flood Safety Information</a></li>
    </ul>
</body>
</html>
